@import 'reset';
@import 'content';

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    background-color: #f9f9f9;
    line-height: 1.45;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

sup {
    font-size: 0.7rem;
    position: relative;
    top: -6px;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.nav-header {
    background: #0a1922;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

    div.center {
        max-width: 96rem;
    }

    h1 {
        padding-left: 2rem;
        margin-right: 2rem;

        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1;
            display: inline-block;
            padding-left: 2.4rem;
            position: relative;

            img {
                height: 36px;
                position: absolute;
                left: 0;
                top: -7px;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;

        li {
            font-size: 1rem;
            margin-right: 2rem;
            display: inline-block;

            a {
                color: #aaa;
                text-decoration: none;
                transition: color .15s ease-in;
            }

            a:hover {
                color: #fff;
            }
        }
    }
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .flex-ns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 72rem;
    margin: 0 auto;
    display: flex;

    a {
        color: #0594cb;
        transition: color .15s ease-in;
    }

    a:hover {
        color: #96ccff;
    }

    #title {
        margin-top: 0;
        padding-top: 0;
    }

    #tags {
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: .875rem;
                font-weight: 800;
            }
        }
    }

    #content {
        color: #333;
    }

    #main {
        padding: 0 4rem 0 0;
        width: 75%;
    }

    #main.no-sidebar {
        width: 100%;
        padding: 0;
    }

    #sidebar {
        width: 25%;
        font-size: 0.8rem;

        p {
            font-size: 0.8rem;
        }
    }

    .original-attributions {
        font-size: 0.8rem;
    }

    .author-biopic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 200px;
            height: 200px;
        }
    }

    .author-biopic + #author-name {
        margin-top: 0.5em;
    }

    #author-name {
        text-align: center;;
    }

    #author-details {
        padding-bottom: 1rem;
        border-bottom: 1px solid #777;
    }

    .note {
        background: #cde9f9;
        padding: 1rem 2rem;
        border-radius: 4px;
    }

    h1 {
        color: #0a1922;
        padding-top: 1rem;
        line-height: 1.25;
        font-size: 2.441em;
        margin: 1.414em 0 0.5em;
        border-width: 0.125rem;
        border-color: #555;
        border-bottom-style: solid;
        text-transform: capitalize;
    }

    h2 {
        font-size: 1.653em;
        margin-top: 2em;
        margin: 1.414em 0 0.5em;
        line-height: 1.2;
        text-transform: capitalize;
        font-family: serif;
    }

    h3 {
        font-size: 1.153em;
        font-weight: 600;
        margin-top: 2em;
        margin: 1.414em 0 0.5em;
        line-height: 1.2;
        text-transform: capitalize;
    }

    h4 {
        font-size: 1.03em;
        font-weight: 600;
        margin-top: 2em;
        margin: 1.414em 0 0.5em;
        line-height: 1.2;
        text-transform: capitalize;
    }

    p {
        line-height: 1.5;
        margin-bottom: 1.3em;
        font-size: 1.01rem;
    }

    ol {
        list-style: auto;
        margin-left: 2rem;
        list-style: 1.5;
    }

    .text-centered {
        text-align: center;
    }

    ul {
        list-style: disc;
        margin-left: 2rem;
        line-height: 1.5;

        &.taxonomy-list {
            list-style: none;
            margin-left: 0;
        
            li {
                border-left: 6px solid #0a1922;
                padding-left: 1.5rem;
        
                a {
                    font-size: 1.1rem;
                }
                
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    ul + p, ol + p {
        margin-top: 1rem;
    }

    blockquote {
        border-left: 5px solid #bbb;
        padding-left: 2rem;
        font-size: 0.95rem;
        color: #555;

        p {
            font-size: inherit;
            line-height: 1.3;
        }
    }

    .nav-links {
        list-style: none;
        margin-left: 0;
        display: block;
        text-align: center;
        margin-top: 2rem;

        li {
            display: inline-block;
            padding: 0.4rem 1rem;
            background: #ddd;
            border-radius: 4px;
        }
    }

    #works {
        text-align: center;
        border-bottom: 0;
        margin: 0 0 0;
    }

    #work-author {
        text-align: center;
        margin: 0 0 0;
        font-style: italic;
    }

    #subworks {
        text-align: center;
        border-bottom: 1px solid #aaa;
        padding-bottom: 2rem;
        margin: 0 2rem 2rem;
    }

    .editors-note {
        color: #999;
        font-size: 0.9rem;
    }
}

.footer {
    background-color: #0a1922;
    padding: 1rem 2rem 1rem;
    color: #eee;

    div.center {
        max-width: 72rem;
    }
}

@media screen and (max-width: 72em) {
    .main-content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.page-home {
    .famous-biopics {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    .author-biopic {
        display: inline-block;
        margin-right: 1rem;
    }

    .author-biopic, .author-biopic img {
        width: 140px;
        height: 140px;
    }
}

#page-topics,
#page-archives {
    #main {
        width: 100%;
    }

    #title {
        display: none;
    }
    
    ul {
        margin-left: 0;
        
        li {
            display: inline-block;
            margin-right: 1rem;
            margin-bottom: 2rem;

            a { 
                display: inline-block;
                border: 1px solid #999;
                border-radius: 4px;
                padding: 1rem;
            }

            img {
                display: block;
            }

            h3 {
                display: block;
                margin: 0.6rem 0 0;
            }
        }
    }
}

#page-videos .curated-channel-list,
#page-videos .curated-video-list {
    list-style: none;
    margin-left: 0;
    
    li {
        padding-bottom: 2rem;
    }

    .logo {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        margin-right: 1rem;
    }

    .channel-name {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

#page-videos {
    #recommended-videos {
        margin-top: 0;
    }
}

.curated-video-list {
    list-style: none!important;
    margin-left: 0!important;
    
    li {
        padding-bottom: 2rem;
    }

    .logo {
        display: block;
        overflow: hidden;
        float: left;
        margin-right: 1rem;
        width: 168px; 
        height: 94px;
        border-radius: 10px;
    }

    .channel-name {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}

#page-glossary {
    ul {
        list-style: none;
        margin-left: 0;

        li {
            font-size: 0.9rem;
            padding-bottom: 2rem;

            a:first-child {
                font-size: 1.1rem;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .nav-header {
        h1 {
            padding-left: 1rem;
        }

        #hamburger-menu {
            color: #fff;
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 1rem;
            top: 1.2rem;

            #hamburger-1,
            #hamburger-2, 
            #hamburger-3 {
                background: #fff;
                display: block;
                width: 100%;
                height: 3px;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        ul { 
            display: none;
            padding: 1rem 0; 
            position: absolute;
            background: #0a1922;
            width: 100%;

            li {
                display: block;
                margin-right: 0;

                a {
                    display: block;
                    line-height: 2;
                    padding-left: 1rem;
                }
            }
        }

        ul.visible {
            display: block;
        }
    }

    .main-content {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: block;

        #main {
            width: 100%;
            padding: 0;
        }
        
        #sidebar {
            border-top: 1px solid #333;
            margin-top: 2rem;
            padding: 2rem 0 0 0;
            width: 100%;
        }
    }
}


@media screen and (max-width: 600px) {
  .main-content {
    h1 {
        font-size: 2.041em;
    }
  }
}