*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.f-6, .f-headline {
  font-size: 6rem; }

.f-5, .f-subheadline {
  font-size: 5rem; }

.f1 {
  font-size: 3rem; }

.f2 {
  font-size: 2.25rem; }

.f3 {
  font-size: 1.5rem; }

.f4 {
  font-size: 1.25rem; }

.f5 {
  font-size: 1rem; }

.f6 {
  font-size: .875rem; }

.f7 {
  font-size: .75rem; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  background-color: #f9f9f9;
  line-height: 1.45;
  box-sizing: border-box;
  padding-top: 58px; }
  body.loading * {
    transition: none !important; }

a {
  text-decoration: none;
  cursor: pointer; }

sup {
  font-size: 0.7rem;
  position: relative;
  top: -6px; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.nav-header {
  background: #0a1922;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .nav-header div.center {
    max-width: 96rem; }
  .nav-header h1 {
    padding-left: 2rem;
    margin-right: 2rem; }
    .nav-header h1 a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      line-height: 1;
      display: inline-block;
      padding-left: 2.4rem;
      position: relative; }
      .nav-header h1 a img {
        height: 36px;
        position: absolute;
        left: 0;
        top: -7px; }
  .nav-header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block; }
    .nav-header ul li {
      font-size: 1rem;
      margin-right: 2rem;
      display: inline-block; }
      .nav-header ul li a {
        color: #aaa;
        text-decoration: none;
        transition: color .15s ease-in; }
        .nav-header ul li a svg {
          fill: #ccc; }
      .nav-header ul li a:hover {
        color: #fff; }

.center {
  margin-right: auto;
  margin-left: auto; }

@media screen and (min-width: 30em) {
  .flex-ns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.main-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 72rem;
  margin: 0 auto;
  display: flex; }
  .main-content a {
    color: #0594cb;
    transition: color .15s ease-in; }
  .main-content a:hover {
    color: #96ccff; }
  .main-content #title {
    margin-top: 0;
    padding-top: 0; }
  .main-content #tags {
    list-style-type: none; }
    .main-content #tags li {
      display: inline-block;
      margin-right: 10px; }
      .main-content #tags li a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 800; }
  .main-content #content {
    color: #333; }
  .main-content #main {
    padding: 0 4rem 0 0;
    width: 75%; }
  .main-content #main.no-sidebar {
    width: 100%;
    padding: 0; }
  .main-content #sidebar {
    width: 25%;
    font-size: 0.8rem; }
    .main-content #sidebar p {
      font-size: 0.8rem; }
  .main-content .original-attributions {
    font-size: 0.8rem; }
  .main-content .author-biopic,
  .main-content .author-biopic-sq {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden; }
    .main-content .author-biopic img,
    .main-content .author-biopic-sq img {
      width: 100%;
      height: 100%;
      display: block; }
  .main-content .author-biopic-sq {
    border-radius: 0;
    width: auto;
    height: auto;
    border-radius: 16px; }
  .main-content .author-biopic + #author-name,
  .main-content .author-biopic-sq + #author-name {
    margin-top: 0.5em; }
  .main-content #author-name {
    text-align: center; }
  .main-content #author-details {
    padding-bottom: 1rem;
    border-bottom: 1px solid #777; }
  .main-content .note {
    background: #cde9f9;
    padding: 1rem 2rem;
    border-radius: 4px; }
  .main-content h1 {
    color: #0a1922;
    padding-top: 1rem;
    line-height: 1.25;
    font-size: 2.441em;
    margin: 1.414em 0 0.5em;
    border-width: 0.125rem;
    border-color: #555;
    border-bottom-style: solid;
    text-transform: capitalize; }
    .main-content h1 sup {
      top: -15px;
      font-size: 0.8rem;
      left: 4px; }
  .main-content h2 {
    font-size: 1.653em;
    margin-top: 2em;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    text-transform: capitalize;
    font-family: serif; }
  .main-content h3 {
    font-size: 1.153em;
    font-weight: 600;
    margin-top: 2em;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    text-transform: capitalize; }
  .main-content h4 {
    font-size: 1.03em;
    font-weight: 600;
    margin-top: 2em;
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
    text-transform: capitalize; }
  .main-content p {
    line-height: 1.5;
    margin-bottom: 1.3em;
    font-size: 1.01rem; }
  .main-content ol {
    list-style: auto;
    margin-left: 3rem;
    list-style: 1.5; }
    .main-content ol li {
      padding-left: 1rem; }
  .main-content .text-centered {
    text-align: center; }
  .main-content ul {
    list-style: disc;
    margin-left: 2rem;
    line-height: 1.5; }
    .main-content ul.taxonomy-list {
      list-style: none;
      margin-left: 0; }
      .main-content ul.taxonomy-list li {
        border-left: 6px solid #0a1922;
        padding-left: 1.5rem; }
        .main-content ul.taxonomy-list li a {
          font-size: 1.1rem; }
        .main-content ul.taxonomy-list li p {
          font-size: 0.9rem; }
  .main-content ul + p, .main-content ol + p {
    margin-top: 1rem; }
  .main-content blockquote {
    border-left: 5px solid #bbb;
    padding-left: 2rem;
    font-size: 0.95rem;
    color: #555; }
    .main-content blockquote p {
      font-size: inherit;
      line-height: 1.3; }
  .main-content .nav-links {
    list-style: none;
    margin-left: 0;
    display: block;
    text-align: center;
    margin-top: 2rem; }
    .main-content .nav-links li {
      display: inline-block;
      padding: 0.4rem 1rem;
      background: #ddd;
      border-radius: 4px; }
      .main-content .nav-links li:last-child {
        margin-left: 1rem; }
  .main-content #works {
    text-align: center;
    border-bottom: 0;
    margin: 0 0 0; }
    .main-content #works a {
      color: inherit; }
      .main-content #works a:hover {
        text-decoration: underline; }
  .main-content #work-author {
    text-align: center;
    margin: 0 0 0;
    font-style: italic; }
  .main-content #subworks {
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 2rem;
    margin: 0 2rem 2rem; }
  .main-content .editors-note,
  .main-content .ednote {
    color: #999;
    font-size: 0.9rem; }
  .main-content .footnotes p {
    font-size: 0.9rem;
    transition: background .25s ease-in; }
    .main-content .footnotes p.highlight {
      background: #d4eaff; }

.footer {
  background-color: #0a1922;
  padding: 1rem 2rem 1rem;
  color: #eee; }
  .footer div.center {
    max-width: 72rem; }

@media screen and (max-width: 72em) {
  .main-content {
    margin-left: 2rem;
    margin-right: 2rem; } }

.page-home .famous-biopics {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem; }

.page-home .author-biopic {
  display: inline-block;
  margin-right: 1rem; }

.page-home .author-biopic, .page-home .author-biopic img {
  width: 140px;
  height: 140px; }

#page-topics #main,
#page-archives #main {
  width: 100%; }

#page-topics #sidebar,
#page-archives #sidebar {
  display: none; }

#page-topics #title,
#page-archives #title {
  display: none; }

#page-topics ul,
#page-archives ul {
  margin-left: 0; }
  #page-topics ul li,
  #page-archives ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem; }
    #page-topics ul li a,
    #page-archives ul li a {
      display: inline-block;
      border: 1px solid #999;
      border-radius: 4px;
      padding: 1rem; }
    #page-topics ul li img,
    #page-archives ul li img {
      display: block; }
    #page-topics ul li h3,
    #page-archives ul li h3 {
      display: block;
      margin: 0.6rem 0 0; }

#page-videos .curated-channel-list {
  list-style: none;
  margin-left: 0; }
  #page-videos .curated-channel-list li {
    padding-bottom: 2rem; }
  #page-videos .curated-channel-list .logo {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 1rem; }
  #page-videos .curated-channel-list .channel-name {
    font-size: 1.2rem; }
  #page-videos .curated-channel-list p {
    font-size: 0.9rem;
    margin-left: 0 !important; }

#page-videos #recommended-videos {
  margin-top: 0; }

.curated-video-list {
  list-style: none !important;
  margin-left: 0 !important; }
  .curated-video-list li {
    padding-bottom: 1rem; }
  .curated-video-list .logo {
    display: block;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
    width: 168px;
    height: 94px;
    border-radius: 10px;
    margin-top: 6px; }
  .curated-video-list .channel-name {
    font-size: 1.2rem; }
  .curated-video-list p {
    font-size: 0.9rem;
    margin-left: 184px;
    min-height: 70px; }

#page-glossary ul {
  list-style: none;
  margin-left: 0; }
  #page-glossary ul li {
    font-size: 0.9rem;
    padding-bottom: 2rem; }
    #page-glossary ul li a:first-child {
      font-size: 1.1rem;
      display: block; }

@media screen and (max-width: 900px) {
  .nav-header h1 {
    padding-left: 1rem; }
  .nav-header #hamburger-menu {
    color: #fff;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 1.2rem; }
    .nav-header #hamburger-menu #hamburger-1,
    .nav-header #hamburger-menu #hamburger-2,
    .nav-header #hamburger-menu #hamburger-3 {
      background: #fff;
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 5px; }
      .nav-header #hamburger-menu #hamburger-1:last-child,
      .nav-header #hamburger-menu #hamburger-2:last-child,
      .nav-header #hamburger-menu #hamburger-3:last-child {
        margin-bottom: 0; }
  .nav-header ul {
    display: none;
    padding: 1rem 0;
    position: absolute;
    background: #0a1922;
    width: 100%;
    top: 58px; }
    .nav-header ul li {
      display: block;
      margin-right: 0; }
      .nav-header ul li a {
        display: block;
        line-height: 2;
        padding-left: 1rem; }
  .nav-header ul.visible {
    display: block; }
  .main-content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: block; }
    .main-content #main {
      width: 100%;
      padding: 0; }
    .main-content #sidebar {
      border-top: 1px solid #333;
      margin-top: 2rem;
      padding: 2rem 0 0 0;
      width: 100%; } }

@media screen and (max-width: 600px) {
  .main-content h1 {
    font-size: 2.041em; } }

@media print {
  body {
    padding: 0; }
  .main-content {
    max-width: 100%;
    padding: 0; }
    .main-content #main {
      padding: 0;
      width: 100%; }
  .nav-header,
  #sidebar,
  .footer {
    display: none; } }
